#banner{
    position: relative; /*Para que se adapte al tamaño de la pçagina*/
    margin-top: 50px;
    /*background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;*/
}

#banner img { /*Adaptamos el tamaño de la imagen del banner*/
    display: block;
    width: 100%;
    height: 100%;
}

#banner .contenedor{  /*Para posicionar el texto en medio del banner*/
    position: absolute; /*Para que se posicione en base a el banner (dentro del baner)*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner a { /*Damos los estilos al <a> para que parezca un botón*/
    display: block; /*Le asignamos un comportamiento de bloque*/
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51, 51, 51, 0.8);
}

@media (min-width:700px){ /*Cuando esté con el ancho de tablet queremos que la imagen del banner
    sea mas pequeña para ello le ponemos un top -80px para que suba*/
    #banner img {
        margin-top: -80px; 
        
    }
}

@media (min-width:1024px){ /*Cuando esté con el ancho de ordenadors queremos que la imagen del banner
    sea mas pequeña para ello le ponemos un top -140px para que suba*/
    #banner img {
        margin-top: -140px; 
        
    }
}

@media (min-width:1350px){ /*Cuando esté con el ancho de 1350px queremos que la imagen del banner
    sea mas pequeña para ello le ponemos un top -200px para que suba*/
    #banner img {
        margin-top: -200px; 
        
    }
}

