#banner{
    position: relative; /*Para que se adapte al tamaño de la pçagina*/
    margin-top: 50px;
    /*background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;*/
}

#banner img {
    display: block;
    width: 100%;
    height: 100%;
}

#banner .contenedor{  /*Para posicionar el texto en medio del banner*/
    position: absolute; /*Para que se posicione en base a el banner (dentro del baner)*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

#banner a { /*Damos los estilos al <a> para que parezca un botón*/
    display: block; /*Le asignamos un comportamiento de bloque*/
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51, 51, 51, 0.8);
}

@media (min-width:480px) {
    #baner h2 {
        font-size:  40px;
    }

    #baner a {
        margin-top: 25px;
    }
}

/*@media (min-width:768px){ /*Cuando esté con un ancho de 768px (tablet) queremos que la imagen de baner suba 
    un poco y se haga mas pequeña para ello utilizamos el -100px*//*
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img {
        height: auto;
        margin-top: -100px;

    }
}*/

@media (min-width:700px){ /*Cuando esté con el ancho de ordenadors queremos que la imagen del banner
    sea mas pequeña para ello le ponemos un top -200px para que suba*/
    #banner img {
        margin-top: -80px; 
        
    }
}

@media (min-width:1024px){ /*Cuando esté con el ancho de ordenadors queremos que la imagen del banner
    sea mas pequeña para ello le ponemos un top -200px para que suba*/
    #banner img {
        margin-top: -160px; 
        
    }
}

