
#distribuidores_precio { /*Estilos de base para trabajar posteriormente*/  
    background: #fff;
    color: #333;
    padding: 20px;
}

#distribuidores_precio .contenedor { /*Colocamos esto para que todo lo que haya en el contenedor sea lo mas responsive posible*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
}

.distribuidores01 { /*Dividimos la lista en dos partes para poner una enfrente de otra*/
    float: left;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vh;

}

#distribuidores01 a{ /*Damos estilos a los enlaces de la parte de la lista 1*/
    text-decoration: none;
    color: black;
}

.distribuidores02 {  /*Dividimos la lista en dos partes para poner una enfrente de otra*/
    /*float: left;*/
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vh;
}

#distribuidores02 a{ /*Damos estilos a los enlaces de la parte de la lista 2*/
    text-decoration: none;
    color: black;
}
#precios{
    text-align: center;
}
