#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 23px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute; 
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.959);
    transition: all 0.6s; /*Ponemos un delay de 0.6s para que se vea el movimiento del menú*/
    transform: translateX(-100%); /*Esto lo ponemos para que se mueva en el eje x hacia la izquierda y se esconda*/
    
}

.menu a {
    display: block;  /*Le ponemos esto para que los enlaces tengan un compartamiento de bloque*/
    color: #fff;
    height: 50px;
    text-decoration: none; /*Quitamos todos los estilos del enlace*/
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover { /*Cambian el fondo de los enlaces cuando pasamos el clic*/
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu { /*En esta parte indicamos que cuando el label 
    asignado con el imput "icon-menu este marcado seleccionamos el menu (.menu)
    esta es la función de la virbulilla "*/
    transform: translateX(0%); /*Hacemos que se muestre de nuevo el menú de
    izquierda a derecha por el eje x. Sigue teniendo el mismo delay*/
}

@media (min-width:1024px) { /*ponemos un mediacuelin para que cuando la pagina tenga un ancho de
    1024px ponga el menú es posición*/
    .menu { 
       position: static; /*Sacamos el menu del cuadro */
       width: auto;
       height: auto;
       transform: translateX(0%); /*Ponemos el menu en la posición 0*/
       float: right; /*Lo situamos en la derecha de la página*/
       display: flex; 
    }

    .menu a { /*Quitamos los bordes del menú para que quede bien*/
        border: none;
    }

    header label { /*Quitamos el simbolo del mostrar mas del menú*/
        display: none;
    }
}
